.button {
  display: block;
  padding: 15.5px 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d12136;
  background-color: #d12136;
  color: #ffffff;
  cursor: pointer;
  outline: none;

  &:active {
    opacity: 0.7;
  }

  &:hover,
  &:focus {
    background-color: #bd0c21;
  }

  &--white {
    background-color: #ffffff;
    color: #d12136;
  }
}

.button--white {
  &:hover,
  &:focus {
    background-color: #d12136;
    color: #ffffff;
  }
}

.button-arrow {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #d7d9df;
  background: url('../../img/icon-arrow.svg') center no-repeat #ffffff;
  outline: none;
  cursor: pointer;

  &--left {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}
