.properties {
  margin-top: 10px;
}

.properties__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  width: 565px;
}

.properties__item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d7d9df;
}

.properties__item-label,
.properties__item-value {
  font-size: 16px;
  line-height: 22px;
}

.properties__item-label {
  color: #48494d;
}

.properties__item-value {
  color: #000000;
}
