.slider {
  display: flex;
  flex-direction: column;
  margin-right: 57px;
  padding-top: 16px;
}

.slider__image {
  position: relative;
  margin-bottom: 36px;

  &--new-model::after {
    position: absolute;
    content: 'new model';
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 30px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d12136;
  }
}

.slider__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__preview-list {
  display: flex;
  justify-content: space-between;
  min-width: 434px;
  @include list-reset();
}

@media (max-width: $boundary-width) {
  .slider {
    margin-right: 0;
  }

  .slider__preview-list {
    min-width: 384px;
  }
}
